

:root{
    --font-fam: "Rubik", serif;
    --main-color: #f2f4ff;
    --font-color: #191919;
    --alt-color: #03012c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
body{
    padding: 0px;
    background-color: var(--main-color);
}
.nav_container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.text_logo{
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
}
.exp_log{
    color: var(--alt-color);
}
#bgimg{
    background-image: url("../Assets/backgorund.svg");
    background-size:cover;
    background-repeat: no-repeat;
}
#activeitems:hover{
 background-color: rgb(230, 226, 226);
}
.card-body{
    padding: 0;
}
#navres {
  position: fixed;
}

@media screen and (max-width: 768px){
  #navres{
    position: sticky;
    top: 0px;
  }
}